<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8"/>
        <title>Daftar Customer</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Daftar Customer</h1>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>No. HP</th>
                        <th>Alamat</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${dataCustomer}">
                        <td th:text="${c.nama}">Customer 001</td>
                        <td th:text="${c.email}">c001@yopmail.com</td>
                        <td th:text="${c.noHp}">081234</td>
                        <td th:text="${c.alamat}">Jakarta</td>
                        <td th:text="${c.foto}">foto.jpg</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>